/* ==================================================
    IMPORT      
================================================== */
@import 'mixin.scss';
@import 'animation.scss';




/* ==================================================
    Page d'acceuil    
================================================== */
body {
height: 1500px;

    .name {
        color: red;
	@include position-fixed("20px", false, false, "20px");
    }
    .menu-emplacement {
		@include position-fixed("20px", "20px", false, false);
		height:80px;

		&:hover {
 			cursor: pointer;
			width: 400px;
		
		}
    	.menu-icon {
			@include position-absolute("0","0", false, false,"10");
			width:80px;
			height:80px;
			display:block;
			background: url('../img/icon-vache-menu.png');
			background-repeat: no-repeat;
		}
		.arrow.menu {
				@include position-absolute("18px","10px", false, false,"1");
		     	content: '';
				width: 0;
				height: 0;
				border-left: 30px solid $color-brown;
				border-bottom: 30px solid transparent;
				border-top: 30px solid transparent;
				
		}
		.round-circle {
			@include raduis-button("88px","88px");
			@include position-absolute("-5px","-4px", false, false,"2");
			background: $color-brown;
		}
		&:hover .menu-icon {
			background-position:0 -81px;
		 	animation: menu-move 2s;
			animation-fill-mode: forwards;
		}
		&:hover .arrow.menu {
		 	animation: menu-move-arrow 2s;
			animation-fill-mode: forwards;
		}
		&:hover .round-circle {
		 	animation: menu-move-back 2s;
			animation-fill-mode: forwards;
		}
	}
}
