/* ==================================================
    IMPORT      
================================================== */
@import 'mixin.scss';
@import 'font.scss';




/* ==================================================
    Page d'acceuil    
================================================== */
body {
height: 1500px;

    .name {
        color: red;
	@include position-fixed("20px", false, false, "20px");
    }
    .menu-emplacement {
		@include position-fixed("20px", "20px", false, false);
		height: 88px;
		width: 88px;
		@include animation-css("width", "1s");

		&:hover {
 			cursor: pointer;
			width: 288px;
			@include animation-css("width", "1s");
		
		}
    	.menu-icon {
			@include position-absolute("4px","4px", false, false,"10");
			width:80px;
			height:80px;
			display:block;
			background: url('../img/icon-vache-menu.png');
			background-repeat: no-repeat;
			@include animation-css("transform", "1s");
			

		}
		.arrow.menu {
			@include position-absolute("12px","10px", false, false,"8");
	     	content: '';
			width: 0;
			height: 0;
			border-left: 28px solid $color-brown;
			border-bottom: 30px solid transparent;
			border-top: 30px solid transparent;
			@include animation-css("transform", "1s");
				
		}
		.text-wrapper {
			width: 0px;
			height: 88px;
			overflow:hidden;
			@include animation-css("width", "1s");
			@include position-fixed("20px", "20px", false, false);
		}
		.text-menu {
			@include position-absolute("10px","300px", false, false,"6");
			width: 180px;
			@include animation-css("transform", "1s");
		}
		.background-effect-circle {
			@include raduis-button("88px","88px");
			@include position-absolute("0","0", false, false,"0");
			background: $color-grey;
			@include animation-css("transform", "1s");	
		}
		.background-effect-rectangle {
			@include position-absolute("0px","37px", false, false,"-1");
			background: $color-grey;
			height: 88px;
			width: 0px;
			text-align: right;
			@include animation-css("width", "1s");
		}
		.round-circle {
			@include raduis-button("88px","88px");
			@include position-absolute("0","0", false, false,"9");
			background: $color-brown;
			@include animation-css("transform", "1s");
		}
		&:hover .menu-icon {
			background-position:0 -81px;
			transform: translate(-200px,0px);
			@include animation-css("transform", "1s");		  
		}

		&:hover .arrow.menu {
			@include animation-css("transform", "1s");
			transform: translate(-175px,0px);

		}
		&:hover .text-wrapper {
			width: 243px;
			@include animation-css("width", "1s");
		}
		&:hover .text-menu {
			@include animation-css("transform", "1s");
			transform: translate(300px,0px);
		}
		&:hover .round-circle {
			@include animation-css("transform", "1s");
			transform: translate(-200px,0px);

		}
		&:hover .background-effect-rectangle {
			@include animation-css("width", "1s");
			width: 200px;
			
		}
	}
}
