/* ==================================================
    IMPORT      
================================================== */
/* ==================================================
    COLORS  
================================================== */
/* ==================================================
    round button 
================================================== */
/* ==================================================
    animation button menu-move
================================================== */
@-webkit-keyframes menu-move {
  0% {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
  100% {
    position: absolute;
    top: 0;
    right: 200px;
    z-index: 10; } }
@-moz-keyframes menu-move {
  0% {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
  100% {
    position: absolute;
    top: 0;
    right: 200px;
    z-index: 10; } }
@-o-keyframes menu-move {
  0% {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
  100% {
    position: absolute;
    top: 0;
    right: 200px;
    z-index: 10; } }
@keyframes menu-move {
  0% {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
  100% {
    position: absolute;
    top: 0;
    right: 200px;
    z-index: 10; } }
/* ==================================================
    animation button menu-move-back
================================================== */
@-webkit-keyframes menu-move-back {
  0% {
    position: absolute;
    top: -5px;
    right: -4px;
    z-index: 2; }
  100% {
    position: absolute;
    top: -5px;
    right: 196px;
    z-index: 2; } }
@-moz-keyframes menu-move-back {
  0% {
    position: absolute;
    top: -5px;
    right: -4px;
    z-index: 2; }
  100% {
    position: absolute;
    top: -5px;
    right: 196px;
    z-index: 2; } }
@-o-keyframes menu-move-back {
  0% {
    position: absolute;
    top: -5px;
    right: -4px;
    z-index: 2; }
  100% {
    position: absolute;
    top: -5px;
    right: 196px;
    z-index: 2; } }
@keyframes menu-move-back {
  0% {
    position: absolute;
    top: -5px;
    right: -4px;
    z-index: 2; }
  100% {
    position: absolute;
    top: -5px;
    right: 196px;
    z-index: 2; } }
/* ==================================================
    animation button menu-move-arrow
================================================== */
@-webkit-keyframes menu-move-arrow {
  0% {
    position: absolute;
    top: 9px;
    right: 10px;
    z-index: 3; }
  100% {
    position: absolute;
    top: 9px;
    right: 180px;
    z-index: 3; } }
@-moz-keyframes menu-move-arrow {
  0% {
    position: absolute;
    top: 9px;
    right: 10px;
    z-index: 3; }
  100% {
    position: absolute;
    top: 9px;
    right: 180px;
    z-index: 3; } }
@-o-keyframes menu-move-arrow {
  0% {
    position: absolute;
    top: 9px;
    right: 10px;
    z-index: 3; }
  100% {
    position: absolute;
    top: 9px;
    right: 180px;
    z-index: 3; } }
@keyframes menu-move-arrow {
  0% {
    position: absolute;
    top: 9px;
    right: 10px;
    z-index: 3; }
  100% {
    position: absolute;
    top: 9px;
    right: 180px;
    z-index: 3; } }
/* ==================================================
    animation button menu-move-background
================================================== */
@-webkit-keyframes menu-move-background {
  0% {
    width: 0; }
  100% {
    width: 200px; } }
@-moz-keyframes menu-move-background {
  0% {
    width: 0; }
  100% {
    width: 200px; } }
@-o-keyframes menu-move-background {
  0% {
    width: 0; }
  100% {
    width: 200px; } }
@keyframes menu-move-background {
  0% {
    width: 0; }
  100% {
    width: 200px; } }
/* ==================================================
    Page d'acceuil    
================================================== */
body {
  height: 1500px; }
  body .name {
    color: red;
    position: fixed;
    top: 20px;
    left: 20px; }
  body .menu-emplacement {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 80px; }
    body .menu-emplacement:hover {
      cursor: pointer;
      width: 200px; }
    body .menu-emplacement .menu-icon {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      width: 80px;
      height: 80px;
      display: block;
      background: url("../img/icon-vache-menu.png");
      background-repeat: no-repeat; }
    body .menu-emplacement .arrow.menu {
      position: absolute;
      top: 18px;
      right: 10px;
      z-index: 1;
      content: '';
      width: 0;
      height: 0;
      border-left: 28px solid #681313;
      border-bottom: 30px solid transparent;
      border-top: 30px solid transparent; }
    body .menu-emplacement .background-effect-circle {
      width: 88px;
      height: 88px;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -4px;
      z-index: 0;
      background: #f3f3f3; }
    body .menu-emplacement .background-effect-rectangle {
      position: absolute;
      top: -5px;
      right: 37px;
      z-index: -1;
      background: #f3f3f3;
      height: 88px;
      text-align: right; }
    body .menu-emplacement .round-circle {
      width: 88px;
      height: 88px;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      right: -4px;
      z-index: 2;
      background: #681313; }
    body .menu-emplacement:hover .menu-icon {
      background-position: 0 -81px;
      animation: menu-move 2s;
      animation-fill-mode: forwards; }
    body .menu-emplacement:hover .arrow.menu {
      animation: menu-move-arrow 2s;
      animation-fill-mode: forwards; }
    body .menu-emplacement:hover .round-circle {
      animation: menu-move-back 2s;
      animation-fill-mode: forwards; }
    body .menu-emplacement:hover .background-effect-rectangle {
      animation: menu-move-background 2s;
      animation-fill-mode: forwards; }

/*# sourceMappingURL=style.css.map */
