/* ==================================================
    IMPORT      
================================================== */
/* ==================================================
    COLORS  
================================================== */
/* ==================================================
    round button 
================================================== */
/* ==================================================
    animation delay 
================================================== */
@font-face {
  font-family: leaguegothic;
  src: url("font/leaguegothic-regular-webfont.eot");
  src: url("font/leaguegothic-regular-webfont.woff") format("woff"), url("font/leaguegothic-regular-webfont.ttf") format("truetype"), url("font/leaguegothic-regular-webfont.svg") format("svg"); }
@font-face {
  font-family: leaguegothic-italic;
  src: url("font/leaguegothic-italic-webfont.eot");
  src: url("font/leaguegothic-italic-webfont.woff") format("woff"), url("font/leaguegothic-italic-webfont.ttf") format("truetype"), url("font/leaguegothic-italic-webfont.svg") format("svg"); }
@font-face {
  font-family: leaguegothic-condensed;
  src: url("font/leaguegothic-condensed-regular-webfont.eot");
  src: url("font/leaguegothic-condensed-regular-webfont.woff") format("woff"), url("font/leaguegothic-condensed-regular-webfont.ttf") format("truetype"), url("font/leaguegothic-condensed-regular-webfont.svg") format("svg"); }
/* ==================================================
    Page d'acceuil    
================================================== */
body {
  height: 1500px; }
  body .name {
    color: red;
    position: fixed;
    top: 20px;
    left: 20px; }
  body .menu-emplacement {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 88px;
    width: 88px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
    z-index: 1; }
    body .menu-emplacement:hover {
      cursor: pointer;
      width: 288px;
      -webkit-transition: width 1s;
      -moz-transition: width 1s;
      -o-transition: width 1s;
      transition: width 1s; }
    body .menu-emplacement .menu-icon {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      display: block;
      background: url("../img/icon-vache-menu.png");
      background-repeat: no-repeat;
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s; }
    body .menu-emplacement .arrow.menu {
      position: absolute;
      top: 14px;
      right: 10px;
      z-index: 8;
      content: '';
      width: 0;
      height: 0;
      border-left: 28px solid #681313;
      border-bottom: 30px solid transparent;
      border-top: 30px solid transparent;
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s; }
    body .menu-emplacement .text-wrapper {
      width: 0px;
      height: 88px;
      overflow: hidden;
      -webkit-transition: width 1s;
      -moz-transition: width 1s;
      -o-transition: width 1s;
      transition: width 1s;
      position: fixed;
      top: 20px;
      right: 20px; }
    body .menu-emplacement .text-menu {
      position: absolute;
      top: 0px;
      right: 300px;
      z-index: 6;
      width: 180px;
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s; }
      body .menu-emplacement .text-menu .text-principal {
        color: #22afcd;
        font-family: 'leaguegothic-condensed', sans-serif;
        font-weight: bold;
        font-size: 16px; }
      body .menu-emplacement .text-menu .text-soustitre {
        font-size: 12px;
        color: #681313; }
    body .menu-emplacement .background-effect-circle {
      width: 88px;
      height: 88px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      background: #f3f3f3;
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s; }
    body .menu-emplacement .background-effect-rectangle {
      position: absolute;
      top: 0px;
      right: 37px;
      z-index: -1;
      background: #f3f3f3;
      height: 88px;
      width: 0px;
      text-align: right;
      -webkit-transition: width 1s;
      -moz-transition: width 1s;
      -o-transition: width 1s;
      transition: width 1s; }
    body .menu-emplacement .round-circle {
      width: 88px;
      height: 88px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
      background: #681313;
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s; }
    body .menu-emplacement:hover .menu-icon {
      background-position: 0 -81px;
      transform: translate(-200px, 0px);
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s; }
    body .menu-emplacement:hover .arrow.menu {
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
      transform: translate(-175px, 0px); }
    body .menu-emplacement:hover .text-wrapper {
      width: 243px;
      -webkit-transition: width 1s;
      -moz-transition: width 1s;
      -o-transition: width 1s;
      transition: width 1s; }
    body .menu-emplacement:hover .text-menu {
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
      transform: translate(300px, 0px); }
    body .menu-emplacement:hover .round-circle {
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
      transform: translate(-200px, 0px); }
    body .menu-emplacement:hover .background-effect-rectangle {
      -webkit-transition: width 1s;
      -moz-transition: width 1s;
      -o-transition: width 1s;
      transition: width 1s;
      width: 200px; }
  body .active.menu-emplacement .menu-icon {
    background-position: 0 -161px;
    transform: translate(0px, 0px);
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s; }
  body .active.menu-emplacement .arrow.menu {
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transform: translate(0px, 0px); }
  body .active.menu-emplacement .round-circle {
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transform: translate(0px, 0px); }
  body .active.menu-emplacement .background-effect-rectangle {
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
    width: 0px; }
  body .active.menu-emplacement .text-wrapper {
    width: 0px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s; }
  body .overlay.menu {
    background: #681313;
    opacity: 0.95;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 35%;
    z-index: -1;
    display: none; }
    body .overlay.menu .overlay-content {
      margin-top: 160px; }
      body .overlay.menu .overlay-content a {
        display: block;
        text-decoration: none;
        color: #fff; }

/*# sourceMappingURL=style.css.map */
