/* ==================================================
    IMPORT      
================================================== */
/* ==================================================
    COLORS  
================================================== */
/* ==================================================
    round button 
================================================== */
/* ==================================================
    animation delay 
================================================== */
@font-face {
  font-family: leaguegothic;
  src: url("font/leaguegothic-regular-webfont.eot");
  src: url("font/leaguegothic-regular-webfont.woff") format("woff"), url("font/leaguegothic-regular-webfont.ttf") format("truetype"), url("font/leaguegothic-regular-webfont.svg") format("svg"); }
@font-face {
  font-family: leaguegothic-italic;
  src: url("font/leaguegothic-italic-webfont.eot");
  src: url("font/leaguegothic-italic-webfont.woff") format("woff"), url("font/leaguegothic-italic-webfont.ttf") format("truetype"), url("font/leaguegothic-italic-webfont.svg") format("svg"); }
@font-face {
  font-family: leaguegothic-condensed;
  src: url("font/leaguegothic-condensed-regular-webfont.eot");
  src: url("font/leaguegothic-condensed-regular-webfont.woff") format("woff"), url("font/leaguegothic-condensed-regular-webfont.ttf") format("truetype"), url("font/leaguegothic-condensed-regular-webfont.svg") format("svg"); }
/* ==================================================
    Page d'acceuil    
================================================== */
body {
  height: 1500px; }
  body .engl {
    display: none; }
  body .name {
    color: red;
    position: fixed;
    top: 20px;
    left: 20px; }
  body .round-circle-footer {
    height: 88px;
    width: 88px;
    background: #fff;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    display: inline-block; }
  body .round-circle-footer + .round-circle-footer {
    margin-left: 5%; }
  body .wrapper-lang {
    height: 80px;
    width: 80px;
    overflow: hidden;
    display: inline-block;
    margin: 4px; }
    body .wrapper-lang .language {
      background: url("../img/icon-vache-lan.png");
      width: 80px;
      height: 80px;
      display: block;
      background-repeat: no-repeat; }
      body .wrapper-lang .language.fr {
        background-position: 0 -80px; }
      body .wrapper-lang .language.engl {
        background-position: 0 -0; }
    body .wrapper-lang:hover {
      cursor: pointer; }
  body .myope {
    background: url("../img/icon-vache-myope.png");
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 4px; }
    body .myope:hover {
      cursor: pointer; }
  body .menu-emplacement {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 88px;
    width: 88px;
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    -o-transition: width 0.8s;
    transition: width 0.8s;
    z-index: 1; }
    body .menu-emplacement:hover {
      cursor: pointer;
      width: 288px;
      -webkit-transition: width 0.8s;
      -moz-transition: width 0.8s;
      -o-transition: width 0.8s;
      transition: width 0.8s; }
    body .menu-emplacement .menu-icon {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      display: block;
      background: url("../img/icon-vache-menu.png");
      background-repeat: no-repeat; }
    body .menu-emplacement .arrow.menu {
      position: absolute;
      top: 14px;
      right: 50px;
      z-index: 8;
      content: '';
      width: 0;
      height: 0;
      border-right: 28px solid #681313;
      border-bottom: 30px solid transparent;
      border-top: 30px solid transparent;
      -webkit-transition: transform 0.8s;
      -moz-transition: transform 0.8s;
      -o-transition: transform 0.8s;
      transition: transform 0.8s; }
    body .menu-emplacement .text-wrapper {
      width: 0px;
      height: 88px;
      overflow: hidden;
      -webkit-transition: width 0.8s;
      -moz-transition: width 0.8s;
      -o-transition: width 0.8s;
      transition: width 0.8s;
      position: fixed;
      top: 20px;
      right: 40px; }
    body .menu-emplacement .text-menu {
      position: absolute;
      top: -35px;
      right: -10px;
      z-index: 6;
      width: 180px;
      -webkit-transition: transform 0.8s;
      -moz-transition: transform 0.8s;
      -o-transition: transform 0.8s;
      transition: transform 0.8s; }
      body .menu-emplacement .text-menu .text-principal {
        color: #681313;
        font-family: 'Ranchers', cursive;
        font-weight: 800;
        font-size: 50px; }
    body .menu-emplacement .round-circle {
      width: 88px;
      height: 88px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
      background: #681313; }
    body .menu-emplacement:hover .menu-icon {
      background-position: 0 -81px; }
    body .menu-emplacement:hover .arrow.menu {
      -webkit-transition: transform 0.8s;
      -moz-transition: transform 0.8s;
      -o-transition: transform 0.8s;
      transition: transform 0.8s;
      transform: translate(-26px, 0px); }
    body .menu-emplacement:hover .text-wrapper {
      width: 300px;
      -webkit-transition: width 0.8s;
      -moz-transition: width 0.8s;
      -o-transition: width 0.8s;
      transition: width 0.8s; }
    body .menu-emplacement:hover .text-menu {
      -webkit-transition: transform 0.8s;
      -moz-transition: transform 0.8s;
      -o-transition: transform 0.8s;
      transition: transform 0.8s;
      transform: translate(-110px, 0px); }
    body .menu-emplacement:hover .round-circle {
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s; }
  body .active.menu-emplacement .menu-icon {
    background-position: 0 -160px; }
  body .active.menu-emplacement .arrow.menu {
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    transform: translate(0px, 0px); }
  body .active.menu-emplacement .round-circle {
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    background: #fff; }
  body .active.menu-emplacement .text-wrapper {
    width: 0px;
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    -o-transition: width 0.8s;
    transition: width 0.8s; }
  body .overlay.menu {
    background: #681313;
    opacity: 0.95;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 400px;
    padding: 60px;
    z-index: 0;
    display: none; }
    body .overlay.menu.one {
      overflow: hidden; }
    body .overlay.menu.duplicate a {
      color: #681313 !important; }
      body .overlay.menu.duplicate a.active {
        color: #681313 !important; }
    body .overlay.menu .overlay-content {
      margin: 60px auto 20px;
      width: 100%;
      padding: 0;
      list-style-type: none; }
      body .overlay.menu .overlay-content a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-family: 'Ranchers', cursive;
        font-weight: 800;
        font-size: 60px;
        line-height: 0.95;
        cursor: pointer;
        -webkit-transition: transform 0.6s;
        -moz-transition: transform 0.6s;
        -o-transition: transform 0.6s;
        transition: transform 0.6s; }
        body .overlay.menu .overlay-content a:hover {
          color: #22afcd; }
        body .overlay.menu .overlay-content a.active {
          -webkit-transition: transform 0.8s;
          -moz-transition: transform 0.8s;
          -o-transition: transform 0.8s;
          transition: transform 0.8s;
          transform: translate(-80%, 0px);
          text-align: center;
          color: #fff; }
    body .overlay.menu .menu-footer {
      width: 100%;
      white-space: nowrap; }
    body .overlay.menu .menu-search {
      width: 100%;
      position: relative;
      margin: 60px auto 60px; }
    body .overlay.menu .menu-search-field {
      background: none;
      display: block;
      color: #fff;
      width: 100%;
      border-width: 0 0 1px 0;
      border-style: none none solid none;
      border-color: rgba(255, 255, 255, 0.5); }
    body .overlay.menu .menu-search-button {
      position: absolute;
      right: 0;
      top: 0;
      border: 0;
      background: none; }
  body #about {
    width: 100%; }
    body #about .img {
      width: 50%;
      display: inline-block; }
    body #about .description {
      width: 50%;
      display: inline-block; }

/*# sourceMappingURL=style.css.map */
